/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --lightblue: #f6f9fc;
    --red: #f6f9fc;
  }
  
.container-fluid-max {
    max-width: 1440px;
}
  
.cover {
    background: no-repeat center/cover;
}

/* SCROLL ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
    background: var(--red);
  }
  
.scroll .hero {
    transform: scale(0.98);
}
  
  /* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    transition: background 0.5s ease-in-out;

}
  
.page-header .navbar {
    padding: 0.3rem 0;
}
  
.page-header .navbar-toggler {
    /* the variable is inherited from BS4 built-in variables */
    border-color: var(--white); 
} 

#home {
    text-align: center;
    align-content: center;
} 

main {
    align-content: center;
}

#about {
    text-align: justify;
    padding-bottom: 3rem;
}

h2 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;   
}

h1 {
    text-align: center;

}


/* PAGE FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer .footer-links {
  text-align: right;
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--red);
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    text-align: center;
  }
}